html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

.active {
	color: red;
}

.linkBtn {
	padding: 5px;
	letter-spacing: 2px;
	cursor: pointer;
	transition: all 0.5s ease;
}

.linkBtn:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: #000;
	border-radius: 5px;
}

.link2 {
	text-decoration: none;
	letter-spacing: 2px;
	cursor: pointer;
	padding: 8px;
	font-size: 14px;
	color: #1976d2;
	border: 1px solid rgba(25, 118, 210, 0.5);
	border-radius: 4px;
	transition: all 0.5s ease;
}

.link2:hover {
	color: #fff;
	background-color: #1976d2;
}

.m0 {
	margin: 0;
}
